<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= funcexpress.strAppName %></h1>
    <p>Version <%= funcexpress.version %></p>
  </body>
</html>
